.container {
  width: 1000px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info__title {
  padding: 10px;
}

.footer_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
}

.footer__link-img-git {

  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.footer__link-img-rs {

  width: 100px;
  height: 40px;
}